<ion-header>
  <ion-navbar>
    <ion-title>
      App de cadastro com SQLite
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" name="nome"></ion-input>
        </ion-item>
      <ion-item>
        <button ion-button (click)="salvar()">Adicionar</button>
      </ion-item>
  </ion-list>

  <ion-list>
      <ion-item>
          <ion-label stacked>Entre com o ID</ion-label>
          <ion-input type="number" name="id"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button color="secondary" (click)="buscar()">Buscar</button>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" name="nomeSalvo"></ion-input>
      </ion-item>
  </ion-list>
    <button ion-button>Buscar</button>
    


  <ion-fab right bottom>
    <button ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
